html{
    overflow-y: scroll;
}
body{
    margin: 0;
    height: 100%;
    min-width: 350px;
}
nav {
    background: #ffffff;
    height: 50px;
    width: 40%;
    margin: 0;
    float: right;
    background-color: #ffffff;
    
    display:-ms-grid;
    display: grid;
    -ms-grid-columns: 20px 1fr;
    -ms-grid-column-align: end;
    grid-template-columns: 20px 1fr;
    /* box-shadow: 0 0 8px 8px #eeeeee inset; */
    /* box-shadow: 0px 0px 5px 10px rgba(0,0,0,1); */
    margin-bottom: 20px;
    margin-top: 50px;
    margin-right: 1px;
    -ms-grid-rows: 55px;
    
}

.nav-links  {
    -ms-grid-column: 2; 
    -ms-grid-column-align: end;
    list-style: none;
    margin: 10px 5% 0 0;
    grid-column-start: 2;
    text-decoration: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    
    grid-template-rows: 50px;
    
    justify-self: right;
}
.nav-links li {
    float: left;    
    position: relative;
}
.nav-links li:nth-child(1){
    -ms-grid-column: 1;
}
.nav-links li:nth-child(2){
    -ms-grid-column: 2;
}
.nav-links li:nth-child(3){
    -ms-grid-column: 3;
}
.nav-links li ul {
    position: absolute;
    
    right: 0px;
}
.nav-links li:hover ul {    
     display: block;
}

.nav-links li:focus ul {    
    display: block;
}
.nav-links .ticketlinks  {
    list-style: none;
    background: black;
    top: 69px;
    width: 180px;
    left: 0px;
    
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 0;
    margin-right: 0px !important;
    display: none;
}
.nav-links .ticketlinks li  {    
    width: 100%;   
}
 
.nav-links .ticketlinks li a {    
    padding: 10px 10px 10px 20px;   
}
.nav-links li a  {
    display: block;
    padding: 9px 21px 9px 21px;
    text-decoration: none;
    color: #3cc1ca;
    font-size: 1em;
    height: 38px;
    text-align: center;
}
.nav-links li a:hover {
    /* box-shadow: 0 0  8px black inset;
    box-shadow: inset 0px 0px 5px #c1c1c1; */ 
    /* background: rgb(27, 27, 27);     */
    /* color: red;
    margin-top: -11px;
    padding-top: 18px;
    padding-bottom: -9px;
    height: 27px;
    border-radius: 5px;
    
    
    background: rgba(0,0,0,0.25);
    box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
 */

    /* transition: .15s;
    height: 50px;
    color: black;
    background: #eeeeee;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.nav-links li a.active {
    /* box-shadow: 0 0  8px black inset;
    box-shadow: inset 0px 0px 5px #c1c1c1; */
    /* background: rgb(27, 27, 27);     */
    /* color: red; */



    /* transition: .15s;
    height: 50px;
    color: black;
    background: #eeeeee;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
}

.fa{
    display: none !important;
    position: absolute;
    top: 25px;
    right: 45px;
    width: 25px;
    height: 25px;
    font-size: 2em;
    color: rgba(226, 226, 226, .9);
    margin: 5px;
}
@media only screen and (max-width: 760px){
    
    .fa{
        display: inline !important;
        position: absolute;
        top: 25px;
        right: 15px;
        
        font-size: 2em;
        color: rgba(226, 226, 226, .9);
        margin: 5px;
        cursor: pointer;
        z-index: 999;
        transition: transform .5s;
    }

    .nav-links  {
        all: initial;
        margin-right: 0%;
        display: -ms-grid;     
        display: grid;
        grid-template-columns: 100%;  
        -ms-grid-rows: 35px 35px 35px;
        -ms-grid-row: 2;  
        -ms-grid-column: 1;
        content: attr("height: 100%");
        align-content: center;
        grid-row-gap: 20px;
        right: 25px;
        height: 200px;
        top:5vh;
        background-color: #3cc1ca ;
        /* display: flex;
        flex-direction: column; */
        /* display: grid;
        align-items: right; */
        
        transform: translateY(-150%);
        transition: transform .5s ease-in;
        padding-inline-start: 0;
        /* grid-template-columns: 150px; */
        -ms-grid-column: 1;
        -ms-grid-columns: 1fr;
        width: 100%;
        z-index: 1;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px ;
    }
    .nav-active {   
        display: -ms-grid;     
        display: grid;
        align-items: center;
        justify-items: right; 
        transform: translateY(0%);
        grid-template-columns: 100%;  
        -ms-grid-rows: 35px 35px 35px;
        -ms-grid-row: 2;  
        -ms-grid-column: 1;
        content: attr("height: 100%");
        align-content: center;
        grid-row-gap: 20px;
        width: 100%;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px ;
        
    }
    .nav-active li:nth-child(1){
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .nav-active li:nth-child(2){
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .nav-active li:nth-child(3){
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }
    .nav-links li {
        height: 100%;
        width: 50%;
        
        text-align: center;
        align-self: center;
        justify-self: center;
        overflow: hidden;
        -ms-grid-column-align: center;
    }
    nav{
        height: 10px;
        display: -ms-grid;
        transition: height .5s ease-in;        
        grid-template-columns: 100%;
        -ms-grid-columns: 100%;
        overflow: hidden;
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;        
    }
    .nav-total-active {
        height: 250px;
        display: grid;
        display: -ms-grid;
        grid-template-columns: 1fr;
        grid-template-rows: 25% 80%;
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 25% 80%;
        justify-content: right;
        
    }
    .fa-rotate {
        transform: rotate(180deg);
    }
    .nav-links li a{
        height: 30px;
        align-self:center;
        padding: 0 0 0 0;
        color: #000000;
    }    
    .nav-links li a:hover {
        /* display: block;
        margin-top: 0px;
        height: 100%;
        border: none;
        padding: 0 0 0 0; */
    }
    .nav-links li a.active, .nav-links li a:hover {
        /* box-shadow: 0 0  8px black inset;
        box-shadow: inset 0px 0px 5px #c1c1c1; */
        /* background: rgb(27, 27, 27);     */
        
        color: #a6192e;
        
        width: 100%;
        background: #3cc1ca;
        box-shadow: none;
    }
}